#board-size {
  width: 40px;
  border: 2px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.color {
display: inline-block;
width: 100px;
height: 100px;
border: 1px solid black
}

#color-palette {
  position: sticky;
  top: 70px
}

#clear-board {
  display: line;
  margin-bottom: 5px;
}

.line {
  margin-bottom: -4px;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

#pixel-board {
  position: absolute;
  top: 40%
}

#section-clear {
  position: sticky;
  top: 20px
}
