#title {
    
}

#color-palette {
    
}

.color {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

#pixel-board {
    
}

.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

.selected {
    
}