#title {
    
}

#color-palette {
    
}

.color {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}
